/*Gradient Background*/

.gradient-background {
  background: linear-gradient(300deg, #f8d135, #ff4400b9, #ffcc00);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  W 50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Navigation Bar Styles*/
.nav-bar-app-title {
  font-weight: bold;
}
.nav-bar-bg {
  background-color: #f0f0ef;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: 2px solid white;
  background-color: orange;
  box-shadow: none;
}

/*Feature Section Styles*/

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  background-color: orange;
}

.img-testimonials {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid orange;
}

.section-titles {
  color: rgb(71, 55, 25);
}
